<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer page</title>
</head>
<body>
    <h1>Trainer page</h1>
    <h2 th:text="'Welcome ' + ${currentuser.username} +'. Your are now Log in'"></h2>
    
    <button><a href="/createtrainingplan">Create training plan</a></button>
    <button><a href="/updatetrainingplan">Update training plan</a></button>
    <button><a href="/checkstatsoftrainee">Check stats of trainees</a></button>

</body>
</html>