<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<h1>Create Account</h1>

<table>
    <tr>
        <th>Mentor Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>User Type</th>
        <th>Assigned Tutees</th>
        <th>Pick One Mentor</th>
    </tr>



    <tr th:each="nutritionist:${nutritionists}">
        <td th:text="${nutritionist.user_nutritionist.username}"></td>
        <td th:text="${nutritionist.user_nutritionist.firstName}"></td>
        <td th:text="${nutritionist.user_nutritionist.lastName}"></td>
        <td th:text="'Nutritionist'"></td>
        <td>
            <div th:each="trainee:${nutritionist.trainees}">
                <p th:text="${trainee.user_trainee.firstName} + ' ' + ${trainee.user_trainee.id}"></p>
            </div>
        </td>
        <td>
        <input type="radio" name="selectedNutritionist" th:value="${nutritionist.user_nutritionist.username}" />
        </td>
    </tr>
    <tr th:each="trainer:${trainers}">
        <td th:text="${trainer.user_trainer.username}"></td>
        <td th:text="${trainer.user_trainer.firstName}"></td>
        <td th:text="${trainer.user_trainer.lastName}"></td>
        <td th:text="'Trainer'"></td>
        <td>
            <div th:each="trainee:${trainer.trainees}">
                <p th:text="${trainee.user_trainee.firstName} + ' ' + ${trainee.user_trainee.id}"></p>
            </div>
        </td>
        <td>
            <input type="radio" name="selectedTrainer" th:value="${trainer.user_trainer.username}" />
        </td>
    </tr>

</table>
<form action="/assignNewMentor" method="post" >
    <button>Assign New Mentor</button>
</form>
<button><a href="/">Home</a></button>
</body>

</html>