<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">

    <title>Document</title>
</head>

<body>
    <h1>Assignment 1</h1>
    <button><a href="/usercase1">Show All Users</a></button>
    <button><a href="/usercase2">Show All Trainers</a></button>
    <button><a href="/usercase3">Show All Nutrititionist</a></button>
    <button><a href="/usercase4">Show All Trainees</a></button>
    <button><a href="/usercase5">Show all User by First Name</a></button>
    <button><a href="/register">Create account</a></button>


</body>

</html>