<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>User Registration</title>
</head>

<body>


    <form action="/register" method="post">
        <h3>User Registration</h3>

        <div th:object="${userEntity}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" th:field="*{username}" required>
            <br>

            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required>
            <br>

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required>
            <br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="*{password}" required>
            <br>
            <div>
                <label for="type">User Type:</label>
                <select class="form-control" id="userType" name="userType" th:field="*{userType}" required>
                    <option th:text="Trainee" th:value=0></option>
                    <option th:text="Trainer" th:value=1></option>
                    <option th:text="nutritionist" th:value=2></option>
                </select>
            </div>
        </div>
        <button type="submit">Register</button>

    </form>

</body>

</html>