<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start New Training Session</title>
</head>
<body>
    <h1>Start New Training Session</h1>

    <!-- Form for requesting a new training session -->
    <form action=""  th:object="${newTrainingSession}" method="post">
        <label for="startTime">Start Time:</label><br>
        <input type="datetime-local" id="startTime" name="startTime" th:field="*{startTime}"><br>
        <label for="endTime">End Time:</label><br>
        <input type="datetime-local" id="endTime" name="endTime" th:field="*{endTime}"><br>
        <input type="submit" value="Request Training Session">
    </form>

    <!-- Table for displaying the details of the training session -->
    <!-- <table>
        <tr>
            <th>User</th>
            <th>Trainer</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        <tr>
            <td th:text="${user.username}"></td>
            <td th:text="${trainer.user_trainer.username}"></td>
            <td th:text="${newTrainingSession.startTime}"></td>
            <td th:text="${newTrainingSession.endTime}"></td>
        </tr>
    </table> -->
</body>
</html>