<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start New Training Session</title>
</head>
<body>
    <h1>Start New Training Session</h1>

    <div th:if="${showForm}==true">
        <form action="/startNewTrainingSession" method="post">
            <div th:object="${newTrainingSession}"> 
            <label for="startTime">Start Time:</label><br>
            <input type="datetime-local" id="startTime" name="startTime" th:field="*{startTime}"><br>
            <label for="endTime">End Time:</label><br>
            <input type="datetime-local" id="endTime" name="endTime" th:field="*{endTime}"><br>
        </div>
            <input type="submit" value="Request Training Session"> 
        </form>
    </div>

    <div th:if="${showForm}==false">
        <p>You are currently in a session user currently in a session</p>
        <button><a href="/">Home</a></button>
    </div>


</body>
</html>