<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
</head>
<body>
    <table>
        <tr> 
            <th>id</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Trainer Name</th>
            <th>Nutritionist Name</th>
            <th>Nutritionist Goal</th>
            <th>Training Goal</th>

        </tr>
        <tr th:each="trainee:${trainees}">
            <td th:text="${trainee.id}"></td> 
            <td th:text="${trainee.user_trainee.username}"></td>
            <td th:text="${trainee.user_trainee.firstName}"></td>
            <td th:text="${trainee.user_trainee.lastName}"></td>
            <td th:text="${trainee.trainer.user_trainer.firstName}"></td>
            <td th:text="${trainee.nutritionist.user_nutritionist.firstName}"></td>

            <td th:if="${trainee.nutritionPlan != null}">
                <span th:text="${trainee.nutritionPlan.goal}"></span> 
            </td>
            <td th:if="${trainee.trainingPlan != null}">
                <span th:text="${trainee.trainingPlan.goal}"></span> 
            </td>
        </tr>
    </table>

    <button><a href="/">Home</a></button>
</body>
</html>