<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
</head>
<body>
    <table>
        <tr> 
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Trainee</th>
        </tr>
        <tr th:each="nutritionist:${nutritionists}"> 
            <td th:text="${nutritionist.user_nutritionist.username}"></td>
            <td th:text="${nutritionist.user_nutritionist.firstName}"></td>
            <td th:text="${nutritionist.user_nutritionist.lastName}"></td>
        </tr>
    </table>
    <button><a href="/">Home</a></button>
</body>
</html>